<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
        <li>
            <a href="/admin/user?page={{page-1}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% for page in arr %}
        <li><a href="/admin/user?page={{page}}">{{page}}</a></li>
        {% endfor %}
<!--        <li><a href="/admin/user?page=2">2</a></li>-->
<!--        <li><a href="/admin/user?page=3">3</a></li>-->
<!--        <li><a href="/admin/user?page=4">4</a></li>-->
<!--        <li><a href="/admin/user?page=5">5</a></li>-->
<!--        <li><a href="/admin/user?page=6">6</a></li>-->
<!--        <li><a href="/admin/user?page=7">7</a></li>-->
        <li>
            <a href="/admin/user?page={{page+1}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>